.jumbotron {
  padding-top: 12rem;
}

#project {
  background-color: #f0f1f7;
}

#about {
  padding-top: 12rem;
  padding-bottom: 9rem;
}

footer {
  background-color: #315098;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
  color: aqua;
}

footer button {
  background-color: #e44d26;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

footer button:hover {
  background-color: #333;
}

footer .info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

footer .info div {
  flex: 1;
}

footer .info div h4 {
  color: #ffffff;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  footer .info {
    flex-direction: column;
    align-items: center;
  }

  footer .info div {
    margin-bottom: 10px;
  }
}
